
@{
    ViewData["Title"] = "AddNewProduct";
    Layout = "~/Areas/Company/Views/Shared/_Layout.cshtml";
}

<h1><a asp-area="Company" asp-controller="Products" asp-action="Index">Ürünler</a> <i class="fa fa-right-long px-3"></i> Yeni Ürün</h1>

