@using CetinFarshidfar.JewelryECommerce.EntityLayer.VMs.Users
@*
    COMPANY LOGİN PAGE
*@
@model UserLoginVM

<form class="login-form" asp-area="Company" asp-controller="Authentications" asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Email" for="loginemail"></label>
        <input asp-for="Email" type="email" id="loginemail" required>
        <span asp-validation-for="Email" class="error"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" for="loginPassword"></label>
        <input asp-for="Password" type="password" id="loginPassword" required>
        <span asp-validation-for="Password" class="error"></span>
    </div>

    <div class="CTA">
        <input type="submit" value="Giriş">
        <a href="#" class="switch">Yeni Firma Başvurusu</a>
    </div>
</form>