@using CetinFarshidfar.JewelryECommerce.EntityLayer.VMs.Companies
@*
    COMPANY APPLİCATİON PAGE
*@
@model ComApplicationAddVM

<form class="signup-form" asp-area="Company" asp-controller="Authentications" asp-action="Application" method="post">
    <div class="form-group">
        <label asp-for="ComName" for="comname"></label>
        <input asp-for="ComName" type="text" id="comname" class="name">
        <span asp-validation-for="ComName" class="error"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="ManagerFullName" for="name"></label>
        <input asp-for="ManagerFullName" type="text" id="name" class="name">
        <span asp-validation-for="ManagerFullName" class="error"></span>
    </div>

    <div class="form-group">
        <label asp-for ="ManagerEmail" for="email"></label>
        <input asp-for="ManagerEmail" type="email" id="email" class="email">
        <span asp-validation-for="ManagerEmail" class="error"></span>
    </div>

    <div class="form-group">
        <label asp-for="ManagerPhone" for="phone"></label>
        <input asp-for="ManagerPhone" type="text" id="phone">
        <span asp-validation-for="ManagerPhone" class="error"></span>
    </div>

    <div class="CTA">
        <input type="submit" value="Başvur">
        <a href="#" class="switch">Firma Girişi</a>
    </div>
</form>