@using CetinFarshidfar.JewelryECommerce.EntityLayer.VMs.Users
@*
    SIGN UP PAGE FOR USERS
*@
@model UserRegisterVM

<form method="post" asp-area="" asp-controller="Auths" asp-action="Register">
    <div class="section text-center">
        <h4 class="mb-4 pb-3">Kayıt ol</h4>
        <div class="form-group">
            <span asp-validation-for="FullName"></span>
            <input asp-for="FullName" type="text" class="form-style" placeholder="İsim Soyisim" id="logname">
            <i class="input-icon bi bi-person"></i>
        </div>
        <div class="form-group mt-2">
            <span asp-validation-for="Email"></span>
            <input asp-for="Email" type="email" class="form-style" placeholder="Email" id="logemail">
            <i class="input-icon bi bi-threads"></i>
        </div>
        <div class="form-group mt-2">
            <span asp-validation-for="PhoneNumber"></span>
            <input asp-for="PhoneNumber" class="form-style" placeholder="Telefon No" id="logphone">
            <i class="input-icon bi bi-phone"></i>
        </div>
        <div class="form-group mt-2">
            <span asp-validation-for="Password"></span>
            <input asp-for="Password" type="password" class="form-style" placeholder="Şifre" id="logpass">
            <i class="input-icon bi bi-shield-lock"></i>
        </div>
        <div class="form-group mt-2">
            <span asp-validation-for="ConfirmPassword"></span>
            <input asp-for="ConfirmPassword" type="password" class="form-style" placeholder="Şifre Doğrulama" id="logpass">
            <i class="input-icon bi bi-shield-lock"></i>
        </div>
        <button class="btn mt-4" type="submit">Kayıt</button>
    </div>
    @Html.AntiForgeryToken()
</form>