@{
    ViewData["Title"] = "Kullanıcı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/css/usertablayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/customer_user_form.css" asp-append-version="true" />
}
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">@User.Identity.Name</div>
        <div class="list-group list-group-flush">
            <a asp-area="Customer" asp-controller="User" asp-action="Profile" class="list-group-item list-group-item-action" data-path="/Customer/User/Profile"><i class="bi bi-person-circle"></i><span class="px-2">Profilim</span></a>
            <a asp-area="Customer" asp-controller="User" asp-action="Addresses" class="list-group-item list-group-item-action" data-path="/Customer/User/Addresses"><i class="bi bi-house-gear"></i><span class="px-2">Adreslerim</span></a>
            <a asp-area="Customer" asp-controller="User" asp-action="Settings" class="list-group-item list-group-item-action" data-path="/Customer/User/Settings"><i class="bi bi-gear"></i><span class="px-2">Ayarlar</span></a>
            <a asp-area="" asp-controller="Auths" asp-action="Logout" class="list-group-item list-group-item-action" data-path="/Auths/Logout"><i class="bi bi-box-arrow-left"></i><span class="px-2">Çıkış yap</span></a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<div class="thanks" style="display: none;">
    <img src="~/img/site/giphy.gif" />
    <h5 class="d-block text-center my-2 bg-light"><b>Lütfen bekleyiniz...</b></h5>
</div>
@section Scripts{
    <script src="~/js/usertablayout.js" asp-append-version="true"></script>
    <script src="~/js/customer_user_form.js" asp-append-version="true"></script>
    @await RenderSectionAsync("UserScripts", required: false)
}