:root {
    --main-color: #cab273;
    --main-light-color: #fffbf0;
    --secondary-color: #004;
}
.form {
    max-width: calc(100vw - 40px);
    width: 500px;
    height: auto;
    background: linear-gradient(to bottom right, var(--main-light-color),#f2f2f2,var(--main-light-color));
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #fff;
    margin: 3% auto;
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 5px solid var(--main-color);
}

form:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    background: var(--secondary-color);
    border-radius: 5px 5px 0 0;
}

.form h2 {
    margin: 18px 0;
    padding-bottom: 10px;
    width: 210px;
    color: var(--secondary-color);
    font-size: 22px;
    border-bottom: 3px solid var(--main-color);
    font-weight: 700;
    margin-bottom: 30px;
}

input {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #bebed2;
    transition: all .3s;
}

.form p:before {
    content: attr(type);
    display: block;
    margin: 10px 0 0;
    font-size: 13px;
    color: #5a5a5a;
    float: left;
    width: 40%;
    transition: all .3s;
}

button {
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
}

    button:hover {
        background: #78788c;
        color: #fff;
    }

.tright {
    text-align: right;
}
.form-group{
    margin-bottom:.8em;
}
.form-group label{
    font-weight:600;
}
.relative {
    position: relative;
}

    .relative i.fa:before {
        color: #444;
        padding: 10px;
        position: absolute;
        left: -3px;
        text-align: center;
    }

    .relative i.fa {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        text-align: center;
        border-radius: 0 4px 4px 0;
        width: 0;
        height: 0;
        z-index: 99;
        border-left: 20px solid transparent;
        border-right: 30px solid #ccc;
        border-bottom: 34px solid #ccc;
        transition: all 0.15s ease-in-out;
    }

.form-control:focus {
    border-color: var(--main-color);
    box-shadow: inset 0 1px 1px var(--main-color), 0 0 8px var(--main-color);
}

.relative input:focus + i.fa {
    border-left: 20px solid transparent;
    border-right: 30px solid var(--main-color);
    border-bottom: 34px solid var(--main-color);
}

    .relative input:focus + i.fa:before {
        color: #fff;
    }


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
}

/* --- Thanks Message Popup --- */
.thanks {
    max-width: calc(100vw - 40px);
    width: 200px;
    height: 200px;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
    z-index:5000;
}
.thanks img{
    width:100%;
    height:100%;
    object-fit:contain;
}

/* --- Animated Buttons --- */
.movebtn {
    background-color: transparent;
    display: inline-block;
    width: 100px;
    background-image: none;
    padding: 8px 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
}
.movebtnca {
    border: 2px solid #ff5501;
    box-shadow: inset 0 0 0 0 #ff5501;
    color: #ff5501;
}
.movebtnre {
    border: 2px solid #ff5501;
    box-shadow: inset 0 0 0 0 #ff5501;
    color: #ff5501;
}
.movebtnsu {
    border: 2px solid var(--secondary-color);
    box-shadow: inset 0 0 0 0 var(--secondary-color);
    color: var(--secondary-color);
}
.movebtnca:focus,
.movebtnca:hover,
.movebtnca:active {
    background-color: transparent;
    color: #FFF;
    border-color: #ff5501;
    box-shadow: inset 96px 0 0 0 #ff5501;
}
.movebtnre:focus,
.movebtnre:hover,
.movebtnre:active {
    background-color: transparent;
    color: #FFF;
    border-color: #ff5501;
    box-shadow: inset 96px 0 0 0 #ff5501;
}
.movebtnsu:focus,
.movebtnsu:hover,
.movebtnsu:active {
    background-color: transparent;
    color: #FFF;
    border-color: var(--secondary-color);
    box-shadow: inset 96px 0 0 0 var(--secondary-color);
}
.form-unchanged{
    display:block;
}

/* --- Media Queries --- */

@media only screen and (max-width: 600px) {
    p:before {
        content: attr(type);
        width: 100%
    }

    input {
        width: 100%;
    }
}
