@using CetinFarshidfar.JewelryECommerce.EntityLayer.VMs.ProductTags
@model List<MainTagVM>
@{
    string productId = ViewBag.ProductId;
}
@*
     CompanyMod - Product Tags Update Page
*@

<div id="tagsContainer">
    @foreach (var mainTag in Model)
    {
        <div class="card">
            <span class="card-title">@mainTag.Name</span>
            @foreach (var childTag in mainTag.ChildTags)
            {
                var isChecked = childTag.hasIt == true ? "checked" : "";
                <span class="tag-property">
                    @childTag.Name
                    <input type="checkbox" value="@childTag.Id" class="child-checkbox" @isChecked />
                </span>
            }
        </div>
    }
</div>

<button id="submitProductTags" data-url="/Company/Products/ProductTagSettings" data-productid="@productId" type="button">Kaydet</button>

