@using CetinFarshidfar.JewelryECommerce.EntityLayer.VMs.Users
@model UserProfileVM
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Areas/Customer/Views/Shared/_UserTabLayout.cshtml";
}
<form class="form" method="post" asp-area="Customer" asp-controller="User" asp-action="Profile">
    <h2><i class="bi bi-person-circle"></i><span class="px-2">Profilim</span></h2>
    <div class="form-group">
        <label asp-for="FullName" class="form-label"></label>
        <div class="relative">
            <input asp-for="FullName" class="form-control" id="name" autocomplete="">
            <i class="fa fa-user"></i>
        </div>
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <div class="relative">
            <input asp-for="PhoneNumber" class="form-control">
            <i class="fa fa-phone"></i>
        </div>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="form-label"></label>
        <div class="relative">
            <input asp-for="Email" class="form-control">
            <i class="fa fa-envelope"></i>
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="form-label"></label>
        <div class="relative">
            <input asp-for="NewPassword" type="password" class="form-control">
            <i class="fa fa-lock"></i>
        </div>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CurrentPassword" class="form-label"></label>
        <div class="relative">
            <input asp-for="CurrentPassword" type="password" class="form-control">
            <i class="fa fa-key"></i>
        </div>
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="tright">
        <button class="movebtn movebtnsu" type="Submit">Kaydet <i class="fa fa-fw fa-circle-check"></i></button>
    </div>
</form>